@import "./variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 500px;
  height: 500px;

  border: 1px solid $pink;

  overflow: hidden;

  .wave-circle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: -3;
  }
  
  .fps {
    position: absolute;
    top: 0px;
    left: 0px;
    
    padding: 4px 8px;
    width: 80px;
    height: 80px;
    
    border: 2px solid #777777;
    border-radius: 10px;
    
    color: goldenrod;
    background-color: '#777777';

    font-weight: 900;

    z-index: 10;
  }
}